.container_background{
  position: relative;
  /* background: linear-gradient(180deg, #FAB0D3 19.01%, rgba(249, 207, 199, 0.982022) 37.64%, rgba(248, 246, 185, 0.96) 60.46%, rgba(200, 214, 218, 0.95) 77.22%, rgba(151, 181, 251, 0.94) 93.05%); */
  background: linear-gradient(180deg, rgba(255, 197, 209, 0.3) 12.5%, rgba(255, 197, 209, 0.690164) 29.5%, #FFC5D1 61.33%, rgba(246, 255, 250, 0.94) 84.61%);
  backdrop-filter: blur(2px);
  background-repeat: repeat-y;
  background-size: cover;
}
.Container{
  background-color: rgba(255, 255, 255, 0.712);
  padding-left: 1%;
  padding: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}
.footer{
  background: #C6DF76;
  color: white;
  }
.puple_text{
color: #3F1D61;
}
.center{
  text-align: center;
  display: flex;
  justify-content: center;
}
.greenButton{
  box-sizing: border-box;
  background: rgba(47, 97, 29, 0.5);
  border: 2px solid rgba(47, 97, 29, 0.5);
  color: #FFFFFF;
  margin: 1%;
  }
  
  .greenButton:hover{
    box-sizing: border-box;
    background: #FE3B6D;
    border: 2px solid rgba(47, 97, 29, 0.5);
    color: #FFFFFF;
    }
  
  .pupleButton{
    box-sizing: border-box;
    background: rgba(130, 87, 173, 0.2);
    border: 2px solid rgba(130, 87, 173, 0.2);
    color: #3F1D61;
    margin: 1%;
  }
  
  .pupleButton:hover{
    box-sizing: border-box;
    background: #9d4fea9c;
    border: 2px solid rgba(130, 87, 173, 0.2);
    color: white;
    }

#basket{
  border-color: #9d4fea9c;
  background-color: #c0abca49;
  color: rgb(29, 48, 99);
  width: 300px;
  height: 60px;
}
#heart{
  border-color: #9d4fea9c;
  background-color: #c0abca49;
  width: 100px;
  height: 60px;
  font-weight: 24px ;
  color: rgb(31, 51, 107);
}


.accordion-item{
  border-color: #9d4fea9c;
}
.accordion-header{  
  color: #4fea7e91;
}
.carousel-item{
  height: 280px;
  width: 100%;
  margin-top: 1%;
}
.button_carousel{
  width: 40%;
  height: 81.4px;
  left: 715px;
  top: 437.58px;
  background: #2F611D;
  border: none;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(250, 8, 210, 0.25);
  mix-blend-mode: lighten;
}
.p_car{
font-family: 'Marmelad';
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-align: center;
mix-blend-mode: normal;
color: #ffffff;
mix-blend-mode: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.h_carousel{
font-weight: 400;
font-size: 64px;
line-height: 76px;
text-align: center;
color: #FFFFFF;
}

.shop_tabs{
  text-align: center; /* Центрируем содержимое */
}
.title_tabs{
  display: block;
  text-align: center;
}


